<section class="phx-hero">
  <h1>Macrophylla</h1>
  <h2>A simple collaborative Markdown Editor</h2>

</section>
<section class="row">
  <section class="column">
    <h3><%= gettext "Welcome to %{name}!", name: "User1" %></h3>
    <div>Enter pass phrase!</div>
  </section>
</section>
